@{
    //int age = 22 ;
    @* string value = string.Empty;
    if(age > 18)
    {
        value = "18 yaşından büyük";
    }
    else 
    {
        value = "18 yaşından küçük";
    } *@
}

    <p>
       Viewbag =  @ViewBag.Name
    </p>
    <hr />
    <p>
       Viewdata =  @ViewData["Name"] 
    </p>

   @* <p>
       Durum = @(age>18?"18 yaşından büyük":"18 yaşından küçük")
   </p> *@