@model UdemyNet.Models.Customer

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
       <title>Update Customer</title>
       <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"rel="stylesheet"/>
</head>
<body>
    <div class= "container">
        <h3>Update Customer</h3>
        <form action="/home/UpdateCustomer" method="Post">
            <input type="hidden" name="id" value="@Model.Id"
            <div class="form-group">
                <label>Name : </label>
                <input type="text" name="name" class="Form control" 
                value="@Model.Name">
            </div>

            <div class="form-group">
                <label>Surname : </label>
                <input type="text" name="surname" class="Form control" 
                value="@Model.Surname">
            </div>

            <div class="form-group">
                    <label>Age : </label>
                    <input type="text" name="Age" class="Form control" 
                    value="@Model.Age">
            </div>

            <div class="form-group text-right">
                    <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</body> 
</html>